.navbar {
    margin-bottom: 0;
    background-color: #ececf1;
    border: 0;
    letter-spacing: 4px;
    opacity: 0.9;
    padding-top:50px;
    padding-bottom: 50px;
    Font-weight: bold;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #000000;
    font-size: 18px ;
  }
  .navbar-nav li a:hover {
    color: rgb(72, 53, 53);
  }
  .navbar-nav li.active a {
    color: #fff;
    background-color: #29292c;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: rgb(80, 46, 46);
    background-color: #555;
  }
  .dropdown-menu li a {
    color: #000;
  }
.dropdown-menu li a:hover {
    background-color: red;
  }
